
@{
    ViewBag.Title = "Law";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="college-container">
    <div class="college-header">
        <h1 style="position:absolute; bottom: 0; margin-bottom: 5px;">College of Law</h1>
        <a style="position:absolute; margin-bottom: 5px; right: 15px;" href="/">Home Page</a>
    </div>
    <div class="about-college">
        <h2>About Our College of Law</h2>
        <p>
            The company was founded in Austin, Texas in August 1997 by Bryan Menell. The first angel investors in the company were Steve Papermaster and David Lundeen. The company secured its first channel partnership with Vignette, a provider of content management systems.
            The company held its initial public offering (IPO) on July 29, 1999. In December 1999, the company completed its first acquisition of LoreData based in New London, Connecticut. In May 2000, Perficient acquired Compete, Inc.[9]
            In 2001, Vertecon Inc. was acquired.[10]
            Jack McDonald became CEO of Perficient in 1999 and chairman in 2001. McDonald served in both positions until 2009.[11] Lori Hawkins of Statesman noted that during McDonald's tenure, Perficient "grew from eight employees to more than 1,200 worldwide and had annual sales of $200 million."[12] According to the St. Louis Business Journal in August 2009, "during the second quarter, Perficient lost $196,000 on $44.9 million in revenue, compared with a $3.9 million profit on $59.1 million in revenue during the same period last year" (in 2008).[13]
            Jeffrey Davis became Perficient's COO in 2001 and president in 2003.[14] Davis was named CEO in September 2009.[13]
            During Davis' tenure as CEO, the firm transitioned from the Nasdaq SmallCap Market to the Nasdaq Global Select Market.[6] By 2014, Davis had helped[how?] Perficient buy 13 companies in deals worth a combined $232.3 million since taking over as CEO in 2009.[15]
            In 2011, Perficient acquired business and management consulting firm Exervio for $13.6 million.[16] In 2012, Perficient acquired PointBridge Solutions, LLC for $22 million.[17] Perficient then acquired services and technology consulting firm Nascent Systems LP in July, 2012.[18] Also in 2012, Perficient acquired Northridge Systems.
        </p>
    </div>
</div>