<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Fabrikam University</title>
    <link href="~/Content/stylesheet.css" rel="stylesheet" type="text/css" />
    @*@Styles.Render("~/Content/css");
        @Styles.Render("~/bundles/modernizr");*@
</head>
<body>
    @RenderBody()
</body>
</html>
<footer>
    <p style="padding-top: 7px;">Copyright by Henry Faulkner</p>
    <p style="padding-bottom: 7px;"><a href="mailto:henry.faulkner@perficient.com">henry.faulkner@perficient.com</a></p>
</footer>