
@{
    ViewBag.Title = "SuccessPost";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <div class="college-header">
        <h1 style="position:absolute; bottom: 0; margin-bottom: 5px;">Post Successfully Created</h1>
        <a style="position:absolute; margin-bottom: 5px; right: 15px;" href="/">Home Page</a>
    </div>
    <form action="Admin/Admin" class="form-group-lg">
        <label>Click here to create a new post</label>
        <input class="btn btn-primary" type="submit" value="New Post"/>
    </form>
</div>